 ### Create a dataframe in pandas using list and series

#### create a data frame using list


list1 = ['I', 'Love', 'Data', 'Science']

#### create dataframe from Dictionary

city_state = {'Delhi': 'Delhi', 'Mumbai': 'Maharashtra', 'Kolkata': 'West Bengal', 'Banglore': 'Karnataka'}

In [8]:
# Write a code here
import pandas as pd
list1 = ['I', 'Love', 'Data', 'Science']
pd.DataFrame(list1)
city_state = {'Delhi': 'Delhi', 'Mumbai': 'Maharashtra', 'Kolkata': 'West Bengal', 'Banglore': 'Karnataka'}
pd.DataFrame(city_state,index=["Delhi","Mumbai","Kolkata","Bangalore"])

           Delhi       Mumbai      Kolkata   Banglore
Delhi      Delhi  Maharashtra  West Bengal  Karnataka
Mumbai     Delhi  Maharashtra  West Bengal  Karnataka
Kolkata    Delhi  Maharashtra  West Bengal  Karnataka
Bangalore  Delhi  Maharashtra  West Bengal  Karnataka